In [109]:
import os
import json
import pandas as pd

In [110]:
def load_json_file(file):
    with open(file) as f:
        data = json.load(f)
    return data['data']

In [111]:
directory = "radiozurnal"
file_list = os.listdir(directory)

In [112]:
df = pd.DataFrame()
frames = []
for file in file_list:
    try:
        if file.endswith(".json"):
            filepath = os.path.join(directory, file)
            dataframe = pd.DataFrame(load_json_file(filepath))
            frames.append(dataframe)
    except:
        print(file)

rz-2021-02-22.json
rz-2021-02-24.json

In [113]:
df = pd.concat(frames)

In [114]:
df = df.drop(columns=['files','itemcode']).reset_index(drop=True)

In [115]:
df

,since,id,interpret,interpret_id,track,track_id
0,2020-12-01T00:38:45+01:00,10236284,JAM & SPOON,2989,SET ME FREE,7480
1,2020-12-01T00:42:25+01:00,10236293,WANASTOWI VJECY,3068,KOUZLO,7569
2,2020-12-01T00:48:18+01:00,10236306,GOODFELLAS,5472,SUPERSMOOTH,14913
3,2020-12-01T00:51:48+01:00,10236315,DONNA SUMMER,3681,THIS TIME I KNOW IT'S FOR REAL,11519
4,2020-12-01T00:55:41+01:00,10236326,TOMÁŠ KLUS,3098,NENÁVRATNÁ,16232
...,...,...,...,...,...,...
218600,2023-10-22T23:07:32+02:00,19380454,ROBBIE WILLIAMS,2984,COME UNDONE,10429
218601,2023-10-22T23:15:56+02:00,19380472,BABYBIRD,4569,YOU'RE GORGEOUS,11678
218602,2023-10-22T23:25:35+02:00,19380489,ANNA K,3161,ÚDOLÍ VČEL,109184
218603,2023-10-22T23:34:17+02:00,19380510,EMELI SANDÉ,4229,READ ALL ABOUT IT (PART III),36778
218604,2023-10-22T23:47:09+02:00,19380537,PET SHOP BOYS,3158,SE A VIDA É,13103

In [116]:
slovodelice = [" ",".","/","'"]
for s in slovodelice:
    df['interpret'] = df['interpret'].apply(lambda x: s.join(word.title() for word in str(x).split(s)))
    df['track'] = df['track'].apply(lambda x: s.join(word.title() for word in str(x).split(s)))

In [117]:
df

,since,id,interpret,interpret_id,track,track_id
0,2020-12-01T00:38:45+01:00,10236284,Jam & Spoon,2989,Set Me Free,7480
1,2020-12-01T00:42:25+01:00,10236293,Wanastowi Vjecy,3068,Kouzlo,7569
2,2020-12-01T00:48:18+01:00,10236306,Goodfellas,5472,Supersmooth,14913
3,2020-12-01T00:51:48+01:00,10236315,Donna Summer,3681,This Time I Know It'S For Real,11519
4,2020-12-01T00:55:41+01:00,10236326,Tomáš Klus,3098,Nenávratná,16232
...,...,...,...,...,...,...
218600,2023-10-22T23:07:32+02:00,19380454,Robbie Williams,2984,Come Undone,10429
218601,2023-10-22T23:15:56+02:00,19380472,Babybird,4569,You'Re Gorgeous,11678
218602,2023-10-22T23:25:35+02:00,19380489,Anna K,3161,Údolí Včel,109184
218603,2023-10-22T23:34:17+02:00,19380510,Emeli Sandé,4229,Read All About It (Part Iii),36778
218604,2023-10-22T23:47:09+02:00,19380537,Pet Shop Boys,3158,Se A Vida É,13103

In [118]:
df.to_json(os.path.join("data","radiozurnal.json"), orient="records")