In [1]:
import os
import pandas as pd

In [2]:
cz = pd.read_csv(os.path.join("data","CZ_RADIO_TOP_100_tydenni.csv"))
sk = pd.read_csv(os.path.join("data","SK_RADIO_TOP_100_tydenni.csv"))

In [3]:
cz = cz[cz['rok'] > 2017]
sk = sk[sk['rok'] > 2017]

In [4]:
pomer = pd.Series(cz.groupby('interpret_hlavni').size() / sk.groupby('interpret_hlavni').size(), name='pomer')
cz_count = pd.Series(cz.groupby('interpret_hlavni').size(), name='cz_count')
sk_count = pd.Series(sk.groupby('interpret_hlavni').size(), name='sk_count')

In [5]:
srovnani = pd.DataFrame([pomer,cz_count,sk_count]).transpose().fillna(0)

## Československý žebříček

In [6]:
srovnani['total'] = srovnani['cz_count'] + srovnani['sk_count']

In [7]:
srovnani[(srovnani['pomer'] > 0.25) & (srovnani['pomer'] < 0.75)].sort_values(by='total', ascending=False).head(10)

                     pomer  cz_count  sk_count   total
interpret_hlavni
Ed Sheeran        0.492355     483.0     981.0  1464.0
Imagine Dragons   0.572852     460.0     803.0  1263.0
P!Nk              0.577206     314.0     544.0   858.0
Dua Lipa          0.490018     270.0     551.0   821.0
Robin Schulz      0.725000     319.0     440.0   759.0
Kygo              0.272884     158.0     579.0   737.0
Lady Gaga         0.686170     258.0     376.0   634.0
Lost Frequencies  0.520548     190.0     365.0   555.0
Shawn Mendes      0.620588     211.0     340.0   551.0
Alle Farben       0.357558     123.0     344.0   467.0

In [8]:
bratrske_interpretstvo = srovnani[(srovnani['pomer'] > 0.25) & (srovnani['pomer'] < 0.75)].sort_values(by='total', ascending=False).head(10).index.to_list()

## Kdo nejvíc bodoval v ČR, ale v SR dostal do top 100 max 5×

In [9]:
srovnani[srovnani['sk_count'] <= 5].sort_values(by='cz_count', ascending=False).head(20)

                   pomer  cz_count  sk_count  total
interpret_hlavni
Marek Ztracený    733.00     733.0       1.0  734.0
Chinaski          564.00     564.0       1.0  565.0
Slza              135.75     543.0       4.0  547.0
Xindl X           389.00     389.0       1.0  390.0
Jelen               0.00     345.0       0.0  345.0
Mandrage            0.00     254.0       0.0  254.0
O5                  0.00     230.0       0.0  230.0
Michal Hrůza        0.00     230.0       0.0  230.0
Lenny               0.00     169.0       0.0  169.0
Anna K.             0.00     168.0       0.0  168.0
Lucie Bílá          0.00     147.0       0.0  147.0
Mikolas Josef       0.00     140.0       0.0  140.0
R3Hab               0.00     130.0       0.0  130.0
Sebastian           0.00     127.0       0.0  127.0
Support Lesbiens  118.00     118.0       1.0  119.0
David Stypka        0.00     114.0       0.0  114.0
Minelli             0.00     113.0       0.0  113.0
Kodaline            0.00     108.0       0.0  108.0
Like-It             0.00     108.0       0.0  108.0
Lenka Filipová      0.00     104.0       0.0  104.0

In [10]:
", ".join(srovnani[srovnani['sk_count'] == 0].sort_values(by='cz_count', ascending=False).head(5).index.to_list())

'Jelen, Mandrage, Michal Hrůza, O5, Lenny'

## A naopak: koho majú radi Slováci a Slovenky ale my je nepočúváme

In [11]:
srovnani[srovnani['cz_count'] <= 5].sort_values(by='sk_count', ascending=False).head(20)

                          pomer  cz_count  sk_count  total
interpret_hlavni
Michael Patrick Kelly  0.000000       0.0     332.0  332.0
I.M.T.Smile            0.000000       0.0     313.0  313.0
Sima Martausová        0.000000       0.0     166.0  166.0
Desmod                 0.000000       0.0     164.0  164.0
Hex                    0.000000       0.0     139.0  139.0
Zuzana Smatanová       0.000000       0.0     114.0  114.0
Lukáš Adamec           0.000000       0.0     100.0  100.0
I.M.T. Smile           0.000000       0.0      97.0   97.0
Mária Čírová           0.000000       0.0      83.0   83.0
Pedro Capó             0.000000       0.0      82.0   82.0
Benny Blanco           0.000000       0.0      79.0   79.0
Major Lazer            0.027027       2.0      74.0   76.0
Komodo                 0.000000       0.0      72.0   72.0
Master Kg              0.073529       5.0      68.0   73.0
Loud Luxury            0.044776       3.0      67.0   70.0
Strumbellas            0.000000       0.0      64.0   64.0
Para                   0.000000       0.0      59.0   59.0
Trevor Daniel          0.000000       0.0      57.0   57.0
Brando                 0.000000       0.0      57.0   57.0
Lina Mayer             0.000000       0.0      51.0   51.0

## Rozdíl v tracích?

In [12]:
cz_count_track = pd.Series(cz.groupby(['interpret_hlavni','track']).size(), name='cz_count')
sk_count_track = pd.Series(sk.groupby(['interpret_hlavni','track']).size(), name='sk_count')

In [13]:
srovnani_tracky = pd.DataFrame([cz_count_track, sk_count_track]).transpose().reset_index()

In [14]:
srovnani_tracky

     interpret_hlavni                   track  cz_count  sk_count
0            24Kgoldn                    Bite      11.0       NaN
1            24Kgoldn  Mood (feat. iann dior)      22.0      58.0
2            24Kgoldn       More Than Friends      15.0       NaN
3             2Choice     Reasons to Love You      50.0       NaN
4              2Kbaby               Like This       3.0       NaN
...               ...                     ...       ...       ...
2357   Škampi Na Žaru              Bella ciao       NaN      20.0
2358   Škampi Na Žaru                   Slnko       NaN       6.0
2359   Škampi Na Žaru          Veľký sen mora       NaN       3.0
2360   Škampi Na Žaru              Šiel, šiel       NaN       1.0
2361            Šorty                Tamagoči       NaN      23.0

[2362 rows x 4 columns]

In [15]:
srovnani_tracky['total'] = srovnani_tracky['cz_count'] + srovnani_tracky['sk_count']

In [16]:
srovnani_tracky['pomer'] = srovnani_tracky['cz_count'] / srovnani_tracky['sk_count']

In [17]:
srovnani_tracky[srovnani_tracky['interpret_hlavni'].isin(bratrske_interpretstvo)].sort_values(by='pomer')

,interpret_hlavni,track,cz_count,sk_count,total,pomer
803,Lost Frequencies,Melody (feat. James Blunt),1.0,41.0,42.0,0.024390
718,Kygo,Born To Be Yours,1.0,36.0,37.0,0.027778
1229,Robin Schulz,Alane,2.0,51.0,53.0,0.039216
382,Ed Sheeran,Galway Girl,2.0,49.0,51.0,0.040816
55,Alle Farben,Only Thing We Know,2.0,43.0,45.0,0.046512
...,...,...,...,...,...,...
2207,Robin Schulz,Sugar,NaN,4.0,NaN,NaN
2237,Shawn Mendes,Lost In Japan,NaN,10.0,NaN,NaN
2238,Shawn Mendes,Nervous,NaN,9.0,NaN,NaN
2239,Shawn Mendes,Treat You Better,NaN,9.0,NaN,NaN
2240,Shawn Mendes,Youth (feat. Khalid),NaN,12.0,NaN,NaN

Toto nikam nevede :(